.profile-container {
    max-width: 800px;
    margin: 3vh auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family: Arial, sans-serif;
}

.profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-header img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4CAF50;
}

.profile-header h2 {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.profile-header p {
    color: #777;
    margin: 0;
}

.change-password button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.change-password button:hover {
    background-color: #45a049;
}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.col-producto {
    width: 20%;
}

.col-fecha {
    width: 15%;
}

.col-precio {
    width: 10%;
    text-align: right;
}

.col-acciones {
    min-width: 150px;
    /* Espacio mínimo para evitar colapsos */
}